<div id="lolol" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete" ng-click="close_modal()"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      <a class="button is-primary">Buy Tickets</a>
    </footer>
  </div>
</div>

<div class="search-container">
	<div class="search-header">

		<div class="btn-absolute-wrap">
			<a class="btn btn-orange btn-absolute" href="#!/" ng-onClick="resetAttr()">
				<span>+ New Search</span>
			</a>
		</div>

		<div class="top-bar">
			<img src="/images/logo.png">
			<h2>Reverb</h2>

			<div class="search-bar">
				<p class="control has-icon has-icon-right">
					<input class="input is-small" type="email" placeholder="Melbourne, Austalia">
					<i class="fa fa-check"></i>
				</p>
			</div>

		</div> 
	</div>

	<div class="main-sub-bar">
		<div class="main-sub-bar-content">
			<span>63 Results</span>
			<span style="float: right;">Drew Ioannou</span>
		</div>
	</div>

	<div class="search-content">
		<div class="search-table-container">

			<div class="columns is-multiline">

				<div class="column is-one-quarter" ng-repeat="user in users">
					<div class="card">
						<!-- IMAGE -->
						<div class="card-image">
							<figure class="image is-4by3">
								<img src={{user.artists[0].album_image}} alt="">
							</figure>
						</div>

						<!-- PROGRESS BAR -->
						<div class="progress-bar">
							<div class="w3-progress-container w3-round-xlarge">
				  				<div class="w3-progressbar w3-round-xlarge w3-orange" style="width:80%"></div>
							</div>
						</div>

						<!-- CONTENT -->
						<div class="card-content">
							<div class="media">
								<div class="media-content">
									<div class="grid-item-date">
								{{user.date}}
							</div>

							<div class="grid-item-percent">
								0.8
							</div>
									<p class="title is-5">{{user.venue}}</p>
									<p class="subtitle is-6">{{user.location.address}}</p>
								</div>
							</div>
							<div class="check-it-btn">
								<button class="ticket-btn" id="btn-comment" ng-click="open_modal()">Buy Tickets</button>
							</div>
						</div>
					</div>
				</div>

			</div>
			

		</div>
	</div>
</div>